* {
    box-sizing: border-box;
}
  
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

#titleSearch {
    background-color: lightblue;
    transition: transform 2s linear, background-color 3s ease;
}

#titleSearch:hover {
    transform: scale(1.5) translate(100px, 0px);
}

#titleSearch:focus-within {
    background-color: plum;
}

#authorSearch {
    background-color: teal;
    color: papayawhip;
    transition: transform 2s ease-in-out, background-color 3s ease;
}

#authorSearch:hover {
    transform: skewX(-20deg);
}

#authorSearch:focus-within {
    background-color: rebeccapurple;
}

#displayButton {
    visibility: hidden;
}

#saveButton {
    visibility: hidden;
}

.animation {
    width: 200px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-size:20px;
    font-weight: bold;
    border-radius:5px;
    background: blueviolet;
    color: white;
    position: relative;
}

#moving {
    animation: moving 5s infinite;
}

#moving:hover {
    animation-play-state: paused;
}

@keyframes moving {
    0% {left: 0px;}
    25% {left: 50px;}
    50% {left: 300px;}
    70% {left: 600px;}
    100% {transform: rotate(-360deg); left: 0px;}
}

#spinning {
    animation: spinning 5s 3s 1; 
}

@keyframes spinning {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(45deg);}
    50% {transform: rotate(-45deg);}
    70% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

#bouncing {
    animation: bouncing 1s 3;
}

@keyframes bouncing {
    0% {transform: translateY(0px);}
    50%{transform: translateY(-20px);}
    100% {transform: translateY(0px);}
}
