.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 120px;
    background-color: mediumpurple;
}

li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: lightskyblue;
}