nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;

}

li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    background-color:palegreen;
    width: 150px;

}

li a:hover {
    background-color: lightskyblue;
}

